{% extends 'clear-content.html' %}

{% block container %}
  <div class="container" style="margin-bottom: 2em;">

    <div class="z-depth-2">
      <div class="container">
        <h2 class="center-align">Password change</h2>
        <form method="post" class="col s12" style="padding-bottom: 2em;">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              {{form.old_password}}
              <label for="old_password">{{form.old_password.label}}</label>
              {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.new_password1}}
              <label for="new_password1">{{form.new_password1.label}}</label>
              {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.new_password2}}
              <label for="new_password2">{{form.new_password2.label}}</label>
              {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="col s12 right-align">
            <button type="submit" class="waves-effect waves-light btn-large">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock container %}

{% block javascript %}
  {% if form.errors %}
    M.toast(
    {html: "<span>username or password not correct</span>", classes: 'red rounded', displayLength: 32000}
    );
  {% endif %}
{% endblock javascript %}
