[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: inherit;
  opacity: 1;
  pointer-events: inherit;

}

ul#id_categories {
  padding-left: revert;
}

ul#id_categories, label {
  font-size: 15px;
}

select {
  display: initial;
}

/* Materialize CSS */
.datepicker-select {
  display: none;
}

/* Maps */
.map-widget {
  display: flex;
  align-items: center;
}