{% load my_tags %}

<div class="card-panel">
    <div class="row" style="display: inline-flex;">
        <h2>{% if mode == "Save" %}New{% else %}Edit{% endif %} {{ form_name }}</h2>
    </div>

    <form method="post" enctype="multipart/form-data" class="col s12" style="padding-bottom: 2em;">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="col s12 right-align">
            <a
                    href="{% url_object_list url_cancel %}"
                    class="btn waves-effect waves-red btn-large blue"
            >
                <i class="material-icons">cancel</i>
            </a>
            <button type="submit" class="waves-effect waves-light btn-large">
                {% if mode == "Save" %}
                    <i class="material-icons">save</i>
                {% else %}
                    <i class="material-icons">edit</i>
                {% endif %}
            </button>
        </div>
    </form>

    {{ form.media }}
</div>