{% load static %}
{% load my_tags %}

<div class="card-panel">
    <div class="row right-align">
        <a class="btn-floating btn-large waves-effect waves-light left-align" href="{% url_object created_url %}">
            <i class="material-icons">add</i>
        </a>
    </div>
    <div class="row" style="display: inline-flex;">
        <h2>{{ title_form }}</h2>
    </div>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">search</i>Filters
            </div>
            <div class="collapsible-body">
                <form method="get">
                    {{ extra.filter.form.as_p }}
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" name="action"
                                style="width: 100%;">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </form>
            </div>
        </li>
    </ul>

    <div class="" style="display: flex; justify-content: space-between;">
        <h6>{{ extra.paginator.count }}</h6>
        <h6>{{ extra.page_obj.number }} of {{ extra.page_obj.paginator.num_pages }}</h6>
    </div>

    {% if extra.object_list %}
        <table class="table" style="margin-bottom: 1em;display: block;overflow-x: auto;white-space: nowrap;">
            <thead>
            <tr>
                {% for field in fields_to_show %}
                    <th>{{ field.to_show }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for object in extra.object_list %}
                <tr>
                    {% for field in fields_to_show %}
                        {% render obj=object widget=field %}
                    {% endfor %}
                    <td>
                        {% if extra.url_edit %}
                            <a class="btn-floating yellow" href="{% url_object_list extra.url_edit %}">
                                <i class="small material-icons">edit</i>
                            </a>
                        {% endif %}
                        {% if extra.url_delete %}
                            <a class="btn-floating red" href="{% url_object_list extra.url_delete %}">
                                <i class="small material-icons">delete</i>
                            </a>
                        {% endif %}
                        {% if extra.url_view %}
                            <a class="btn-floating red" href="{% url_object_list extra.url_view %}">
                                <i class="small material-icons">eye</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if extra.page_obj.paginator.num_pages > 1 %}
            <ul class="pagination" style="font-size: 11px;display: flex; justify-content: center;">
                {% if extra.page_obj.has_previous %}
                    <li class="waves-effect"><a href="?{% param_replace page=1 %}"><i
                            class="material-icons">first_page</i></a>
                    </li>
                    <li class="waves-effect"><a href="?{% param_replace page=extra.page_obj.previous_page_number %}"><i
                            class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect"><a
                            href="?{% param_replace page=extra.page_obj.previous_page_number %}">{{ extra.page_obj.previous_page_number }}</a>
                    </li>
                {% else %}
                    <li class="disabled"><a href="?{% param_replace page=1 %}"><i class="material-icons">first_page</i></a>
                    </li>
                    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                <li class="active"><a href="">{{ extra.page_obj.number }}</a></li>
                {% if extra.page_obj.has_next %}
                    <li class="waves-effect"><a
                            href="?{% param_replace page=extra.page_obj.next_page_number %}">{{ extra.page_obj.next_page_number }}</a>
                    </li>
                    <li class="waves-effect"><a href="?{% param_replace page=extra.page_obj.next_page_number %}"><i
                            class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect"><a href="?{% param_replace page=extra.page_obj.paginator.num_pages %}"><i
                            class="material-icons">last_page</i></a></li>
                {% else %}
                    <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
                    <li class="disabled"><a href=""><i class="material-icons">last_page</i></a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <p class="flow-text">Not {{ title_form }} yet.</p>
    {% endif %}
</div>

{#<div class="card-panel">#}
{#    <div class="row right-align">#}
{#        <p>Hello World now you can integrate a lot of list with template base</p>#}
{#    </div>#}
{#</div>#}
