{% extends 'content.html' %}

{% block container %}
  <div class="container" style="margin-bottom: 2em; margin-top: 3em;">
    <a href="{% url 'accounts:profile-user' %}"><i class="tiny material-icons">arrow_back</i> back</a>

    <div class="z-depth-2">
      <div class="container">
        <h4 class="center-align"><img src="https://www.countryflags.io/{{ current_user.country|lower }}/flat/64.png">{{ current_user.display_name }}<img src="https://www.countryflags.io/{{ current_user.country|lower }}/flat/64.png"></h4>
        <div class="row center-align">
          <img src="{{ image }}" style="border-radius: 120px;">
        </div>
        <div class="row center-align">
          <a href="{{ current_user.external_urls.spotify }}"><i class="material-icons">music_note</i>Spotify<i class="material-icons">music_note</i></a>
        </div>
      </div>
    </div>
  </div>
{% endblock container %}
