{% extends 'content.html' %}

{% block container %}
  <div class="container" style="margin-top: 3em;">
    <a href="{% url 'todos:boards'  %}"><i class="tiny material-icons">arrow_back</i> back</a>

    <div class="card-panel">
      <div class="row" style="display: inline-flex;">
        <h2>Board - {{ board.title }}</h2>
      </div>
    </div>

    <div class="card-panel">
      <div class="row" style="display: inline-flex;">
        <h4>Cards</h4>
        <a class="btn-floating waves-effect waves-light left-align" href="{% url 'todos:boards_cards_new' pk=board.id  %}"><i class="material-icons">add</i></a>
      </div>
      {% if cards %}
        <table class="responsive-table highlight">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Created At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for card in cards %}
              <tr>
                <td>{{ card.title }}</td>
                <td>{{ card.description }}</td>
                <td>{{ card.created_at }}</td>
                <td>
                  <a class="btn-floating" href="{% url 'todos:card_detail' card.id %}"><i class="small material-icons">visibility</i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="flow-text">No Cards are available.</p>
      {% endif %}
    </div>
  </div>
{% endblock container %}
