{% extends 'content.html' %}
{% load static %}
{% load djmoney %}

{% block container %}
    <div class="container" style="margin-top: 3em;">
        <a href="{% url 'cash_flow:home_cash_flow' %}">
            <i class="material-icons">arrow_back</i>
        </a>

        {% include "edit/basic.html" %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const elems = document.querySelectorAll('.datepicker');
            const instances = M.Datepicker.init(elems, {
                format: "yyyy-mm-dd",
            });
        });
    </script>
{% endblock container %}