{% extends 'content.html' %}
{% load static %}

{% block container %}
  <div class="container" style="margin-top: 3em;">
    <a href="{% url 'to_buy:home_buys'  %}">
      <i class="tiny material-icons">arrow_back</i> back
    </a>

    <div class="card-panel">
      <div class="row" style="display: inline-flex;">
        <h2>{{ object.name }}</h2>
      </div>
      <div class="row">
        <p>{{ object.description }}</p>
        <a class="waves-effect waves-light btn right-align" href="{% url 'to_buy:buys_send_telegram' pk=object.pk %}"><i class="material-icons left">cloud</i>Telegram Send</a>
      </div>

      <div class="row">
        <div class="col s6">
          <h5>Items of List</h5>
        </div>
        <div class="col s6 right-align">
          <h6>{{ count_items }}</h6>
        </div>
      </div>

      <div class="row">
        {% if items %}
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                <tr>
                  <td>
                    {% if item.product.image %}
                      <img alt="{{ item.product.name }}" src="{{ item.product.image.url }}" width="32">
                    {% else %}
                      <img alt="{{ item.product.name }}" src="{% static 'imgs/open-box.png' %}" width="32">
                    {% endif %}
                  </td>
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.product.description }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>
                    <a class="btn-floating btn modal-trigger yellow" href="{% url 'to_buy:buys_edit_product' pk=object.pk pk_item=item.product.pk %}">
                      <i class="small material-icons">edit</i>
                    </a>
                    <a class="btn-floating btn modal-trigger red" href="{% url 'to_buy:buys_delete_product' pk=object.pk pk_item=item.pk %}">
                      <i class="small material-icons">delete</i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="pagination">
            <span class="step-links">
              {% if items.has_previous %}
              <a href="?page_items=1">&laquo; first</a>
              <a href="?page_items={{ page_items.previous_page_number }}">previous</a>
              {% endif %}

              {% if items.has_next %}
              <a href="?page_items={{ items.next_page_number }}">next</a>
              <a href="?page_items={{ items.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        {% else %}
          <p class="flow-text">Not Items yet.</p>
        {% endif %}
      </div>

      <div class="row">
        <div class="col s6">
          <h5>Products to Include</h5>
        </div>
        <div class="col s6 right-align">
          <h6>{{ count_products }}</h6>
        </div>
      </div>

      <div class="row">
        <div class="col s10">
          <div class="input-field row">
            <input id="id_search" name="search" type="text" value="{% if search %}{{ search }}{% endif %}" onkeyup="enter_key_event_search(event, change_search_element)" />
            <label for="id_search">Search Product</label>
          </div>
        </div>
        <div class="col s1">
          <a class="waves-effect waves-light btn modal-trigger" onclick="change_search_element()">Search</a>
        </div>
      </div>

      <div class="row">
        {% if products %}
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th>Categories</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                <td>
                  {% if product.image %}
                    <img alt="{{ product.name }}" src="{{ product.image.url }}" width="32">
                  {% else %}
                    <img alt="{{ product.name }}" src="{% static 'imgs/open-box.png' %}" width="32">
                  {% endif %}
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>
                  {% for category in product.categories.all %}
                    <span class="badge" style="background-color: {{ category.color }}; color: black;">{{ category.name }}</span>
                  {% endfor %}
                </td>
                <td>
                  <a class="btn-floating btn modal-trigger green" href="{% url 'to_buy:buys_add_item_product' pk=object.pk pk_item=product.pk  %}">
                    <i class="small material-icons">add</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination">
          <span class="step-links">
            {% if products.has_previous %}
            <a href="?page_products=1">&laquo; first</a>
            <a href="?page_products={{ page_products.previous_page_number }}">previous</a>
            {% endif %}

            {% if products.has_next %}
            <a href="?page_products={{ products.next_page_number }}">next</a>
            <a href="?page_products={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
        {% else %}
        <p class="flow-text">All products selected</p>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock container %}


{% block javascript %}

  const get_element_document = data => document.getElementById(data);
  const search_element = get_element_document("id_search");

  function search_url(key, value) {
    let search = window.location.search
    if (search != "") {
      search = search.substr(1, search.lenght);
    }
    let keys = search.split("&");

    keys = keys.map(x => x.split("="));
    keys = keys.filter(x => x[0] != key);
    keys = keys.concat([[key, value]]);
    keys = keys.map(x => `${x[0]}=${x[1]}`)
    keys_data = keys.join("&")
    return `?${keys_data}`;
  }

  function change_search_element() {
    const search = search_element.value;
    let route = `${window.location.origin}${window.location.pathname}`;
    route += search_url("q", search);
    window.location = route;
  }

  function enter_key_event_search(key) {
    if (key.key == "Enter") {
      change_search_element();
    }
  }

{% endblock javascript %}
