{% extends 'content.html' %}
{% load static %}
{% load my_tags %}

{% block container %}
    <div class="container" style="margin-top: 3em;">
        <a href="{% url 'to_buy:home_buys' %}">
            <i class="material-icons">arrow_back</i>
        </a>

        <div class="card-panel">
            <div class="row">
                <h2>{{ object.name }}</h2>
                <p>{{ object.description }}</p>
                <a class="waves-effect waves-light btn" href="{% url 'to_buy:buys_send_telegram' pk=object.pk %}">
                    <i class="material-icons left">cloud</i>Telegram Send
                </a>
            </div>

            <div class="row" style="margin-top: 3em;">
                <div class="col s6">
                    <h5>Items of List</h5>
                </div>
            </div>

            <div class="" style="display: flex; justify-content: space-between;">
                <h6>{{ count_items }}</h6>
                <h6>{{ items.number }} of {{ items.paginator.num_pages }}</h6>
            </div>

            <div class="row">
                {% if items %}
                    <table class="table" style="margin-bottom: 1em;display: block;overflow-x: auto;white-space: nowrap;">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    {% if item.product.image %}
                                        <img alt="{{ item.product.name }}" src="{{ item.product.image.url }}" width="32">
                                    {% else %}
                                        <img alt="{{ item.product.name }}" src="{% static 'imgs/open-box.png' %}" width="32">
                                    {% endif %}
                                </td>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.product.description }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>
                                    <a class="btn-floating btn modal-trigger yellow" href="{% url 'to_buy:buys_edit_product' pk=object.pk pk_item=item.product.pk %}">
                                        <i class="small material-icons">edit</i>
                                    </a>
                                    <a class="btn-floating btn modal-trigger red" href="{% url 'to_buy:buys_delete_product' pk=object.pk pk_item=item.pk %}">
                                        <i class="small material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination" style="font-size: 11px;display: flex;justify-content: center;">
                        {% if items.has_previous %}
                            <li class="waves-effect"><a href="?{% param_replace page_items=1 %}"><i class="material-icons">first_page</i></a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_items=items.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_items=items.previous_page_number %}">{{ items.previous_page_number }}</a></li>
                        {% else %}
                            <li class="disabled"><a href="?{% param_replace page_items=1 %}"><i class="material-icons">first_page</i></a></li>
                            <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}
                        <li class="active"><a href="">{{ items.number }}</a></li>
                        {% if page_obj.has_next %}
                            <li class="waves-effect"><a href="?{% param_replace page_items=items.next_page_number %}">{{ items.next_page_number }}</a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_items=items.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_items=items.paginator.num_pages %}"><i class="material-icons">last_page</i></a></li>
                        {% else %}
                            <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
                            <li class="disabled"><a href=""><i class="material-icons">last_page</i></a></li>
                        {% endif %}
                    </ul>
                {% else %}
                    <p class="flow-text">Not Items yet.</p>
                {% endif %}
            </div>

            <div class="row" style="margin-top: 3em;">
                <div class="col s6">
                    <h5>Products to Include</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s10">
                    <div class="input-field row">
                        <input id="id_search" name="search" type="text" value="{% if search %}{{ search }}{% endif %}" onkeyup="enter_key_event_search(event, change_search_element)" />
                        <label for="id_search">Search Product</label>
                    </div>
                </div>
                <div class="col s1">
                    <a class="waves-effect waves-light btn modal-trigger" onclick="change_search_element()">Search</a>
                </div>
            </div>

            <div class="" style="display: flex; justify-content: space-between;">
                <h6>{{ count_products }}</h6>
                <h6>{{ products.number }} of {{ products.paginator.num_pages }}</h6>
            </div>

            <div class="row">
                {% if products %}
                    <table class="table" style="margin-bottom: 1em;display: block;overflow-x: auto;white-space: nowrap;">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Categories</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    {% if product.image %}
                                        <img alt="{{ product.name }}" src="{{ product.image.url }}" width="32">
                                    {% else %}
                                        <img alt="{{ product.name }}" src="{% static 'imgs/open-box.png' %}" width="32">
                                    {% endif %}
                                </td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td>
                                    {% for category in product.categories.all %}
                                        <span class="badge" style="background-color: {{ category.color }}; color: black;">{{ category.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn-floating btn modal-trigger green" href="{% url 'to_buy:buys_add_item_product' pk=object.pk pk_item=product.pk  %}">
                                        <i class="small material-icons">add</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination" style="font-size: 11px;display: flex;justify-content: center;">
                        {% if products.has_previous %}
                            <li class="waves-effect"><a href="?{% param_replace page_products=1 %}"><i class="material-icons">first_page</i></a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_products=products.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_products=products.previous_page_number %}">{{ products.previous_page_number }}</a></li>
                        {% else %}
                            <li class="disabled"><a href="?{% param_replace page_products=1 %}"><i class="material-icons">first_page</i></a></li>
                            <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}
                        <li class="active"><a href="">{{ products.number }}</a></li>
                        {% if products.has_next %}
                            <li class="waves-effect"><a href="?{% param_replace page_products=products.next_page_number %}">{{ products.next_page_number }}</a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_products=products.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
                            <li class="waves-effect"><a href="?{% param_replace page_products=products.paginator.num_pages %}"><i class="material-icons">last_page</i></a></li>
                        {% else %}
                            <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
                            <li class="disabled"><a href=""><i class="material-icons">last_page</i></a></li>
                        {% endif %}
                    </ul>
                {% else %}
                    <p class="flow-text">All products selected</p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock container %}


{% block javascript %}

  const get_element_document = data => document.getElementById(data);
  const search_element = get_element_document("id_search");

  function search_url(key, value) {
    let search = window.location.search
    if (search != "") {
      search = search.substr(1, search.lenght);
    }
    let keys = search.split("&");

    keys = keys.map(x => x.split("="));
    keys = keys.filter(x => x[0] != key);
    keys = keys.concat([[key, value]]);
    keys = keys.map(x => `${x[0]}=${x[1]}`)
    keys_data = keys.join("&")
    return `?${keys_data}`;
  }

  function change_search_element() {
    const search = search_element.value;
    let route = `${window.location.origin}${window.location.pathname}`;
    route += search_url("q", search);
    window.location = route;
  }

  function enter_key_event_search(key) {
    if (key.key == "Enter") {
      change_search_element();
    }
  }

{% endblock javascript %}
