{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    {% block content %}
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
     {% block js %}
     {% endblock js %}
    </script>
  </body>
</html>
