{% extends 'base.html' %}

{% block style %}
  {% block header %}
  {% endblock header %}
{% endblock style %}

{% block content %}
  {% include 'components/sidebar.html' %}
  {% include 'components/header.html' %}

  {% if user.is_authenticated %}
    {% block container %}
    {% endblock container %}
  {% else %}
    {% include 'components/home.html' %}
  {% endif %}

  {% include 'components/footer.html' %}
{% endblock content %}

{% block js %}
  {% block javascript %}
  {% endblock javascript %}
{% endblock js %}

{% block end %}
{% endblock end %}
