{% load static %}

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url 'accounts:profile-user' %}">profile</a></li>
  <li><a href="{% url 'logout' %}">logout</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <a href="#" data-target="slide-out" class="sidenav-trigger" style="display: block; margin-right: 0;">
        <i class="material-icons">menu</i>
      </a>
      <a href="{% url 'pages:home' %}">
        <img alt="Home Icon" src="{% static 'imgs/brands/house.png' %}" width="30" /> <span class="full-title-header">Smart Home</span><span class="short-title-header">SHome</span>  
      </a>
    </div>

    <ul id=nav-mobile class="right hide-on-med-and-down">
      <li><a href="#">Component</a></li>
      <li><a href="#">Descript</a></li>

      <li>
        {% if user.is_authenticated %}
          <a class="dropdown-trigger" data-target="dropdown1">
            {{ user.username }} <i class="material-icons right">arrow_drop_down</i>
          </a>
        {% else %}
          <a href="{% url 'login' %}" class="waves-effect waves-light btn">
            <i class="material-icons left">add</i>Login
          </a>
        {% endif %}
      </li>
    </ul>

  </div>
</nav>
