{% load static %}

<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="{% static 'imgs/wp/w1-250.png' %}"></a>
  <a class="carousel-item" href="#two!"><img src="{% static 'imgs/wp/w2-250.png' %}"></a>
  <a class="carousel-item" href="#three!"><img src="{% static 'imgs/wp/w3-250.jpg' %}"></a>
  <a class="carousel-item" href="#four!"><img src="{% static 'imgs/wp/w4-250.jpg' %}"></a>
  <a class="carousel-item" href="#five!"><img src="{% static 'imgs/wp/w5-250.jpg' %}"></a>
  <a class="carousel-item" href="#six!"><img src="{% static 'imgs/wp/w6-250.png' %}"></a>
</div>


<h1>Smart Home | Main Page</h1>
<p class="flow-text">Smart Home | Connection</p>
