{% extends 'content.html' %}

{% block header %}
    {{ form.media }}
{% endblock header %}

{% block container %}
    <div class="container" style="margin-top: 3em;">
        <a href="{% url 'accounts:users' %}">
            <i class="material-icons">arrow_back</i>
        </a>

        <div class="card-panel">
            <div class="row" style="display: inline-flex;">
                <h2>New User</h2>
            </div>

            <form method="post" enctype="multipart/form-data" class="col s12" style="padding-bottom: 2em;">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.first_name }}
                        <label for="first_name">{{ form.first_name.label }}</label>
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.last_name }}
                        <label for="last_name">{{ form.last_name.label }}</label>
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {% if form.image %}
                            <img src="{{ form.image.url }}" alt="img">
                        {% endif %}
                        {{ form.image }}
                        {% if form.image.errors %}
                            {% for error in form.image.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.email }}
                        <label for="email">{{ form.email.label }}</label>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.telephone }}
                        <label for="telephone">{{ form.telephone.label }}</label>
                        {% if form.telephone.errors %}
                            {% for error in form.telephone.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.is_superuser }}
                        <label for="is_superuser">{{ form.is_superuser.label }}</label>
                        {% if form.is_superuser.errors %}
                            {% for error in form.is_superuser.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.password }}
                        <label for="password">{{ form.password.label }}</label>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.username }}
                        <label for="username">{{ form.username.label }}</label>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="col s12 right-align">
                    <a href="{% url 'products:new_product' %}"
                       class="btn waves-effect waves-red btn-large red">Cancel</a>
                    <button type="submit" class="waves-effect waves-light btn-large">
                        {% if mode == "Save" %}
                            Create
                        {% else %}
                            Edit
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
  {% endblock container %}
